# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Dataset
data/raw/
data/processed/

# Models
models/*.keras
models/*.h5

# Results
results/figures/*.png
results/reports/*.txt
results/reports/*.csv
results/predictions/*.csv

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/